body {
  font-family: 'Lato', sans-serif;
  background-color: green;
}
#de {
  background-image: url("Images/animate3.gif");
  width: 100px;
  height: 100px;
  margin: auto;
}
.tapis {
  background-color: rgb(246, 255, 0);
  border-radius: 20px;
}
h1 {
  font-size: 4vw;
  letter-spacing: 20px;
  font-weight: bold;
}
h2 {
  margin-top: 20px;
  font-size: 4vh;
}
h3 {
  margin-bottom: 0;
  font-size: 3vh;
}
h4 {
  margin-top: 10px;
  font-size: 2vh;
}
h1, h2, h3, h4 {
  user-select: none;
}
#totalScore1, #totalScore2 {
  font-size: 10vw;
  font-weight: bold;
}
#currentScore1, #currentScore2 {
  font-size: 7vw;
}
.currentScores {
  background-color: rgba(255, 255, 255, 0.526);
  border-radius: 10px;
  width: 70%;
  margin: auto;
}
.activePlayer {
  font-weight: bold;
  color: white;
  background-color: red;
  border-radius: 5px;
}
.activePlayerWinner {
  font-weight: bold;
  color: white;
  background-color: red;
  border-radius: 5px;
  animation: colorblink 1s infinite;
}
@keyframes colorblink { 
0% { }
50% { color:black; background-color: rgb(246, 255, 0); font-weight: 300; } 
}
.des {
  width: 4vw;
  margin-bottom: 1vw;
}
#newGame:hover, #rollDice:hover, #hold:hover {
  font-size: 3.5vh;
  cursor: pointer;
}
#rules:hover {
  font-size: 2.5vh;
  cursor: pointer;
}
.custom-box {
  border-radius: 5px;
  text-align: left;
  padding: 10px;
  max-width: 540px;
  background-color: white;
  margin: auto;
}
#modal {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
button {
  background-color: red;
  border: none;
  padding: 0.5em;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  display: block;
  margin : auto;
  margin-top: 10px;
}